.menu {
  max-width: 150px;
  font-style: italic;
  border: 1px solid #000000;
  user-select: none;
  cursor: default;
  z-index: 999999; }
  .menu span:first-of-type {
    display: block;
    background: #a6a6a6;
    border-top: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
    border-right: 2px solid #737373;
    border-bottom: 2px solid #737373;
    padding: 2px 10px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; }
    .menu span:first-of-type:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing; }
  .menu ul {
    padding-left: 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #a6a6a6;
    border-bottom: 2px solid #a6a6a6;
    margin: 0; }
    .menu ul li {
      display: block;
      background: #D9D9D9;
      border-top: 1px solid white;
      border-bottom: 1px solid #a6a6a6; }
      .menu ul li:hover {
        background: #f3f3f3; }
      .menu ul li a {
        display: block;
        padding: 2px 10px;
        cursor: default;
        color: inherit;
        text-decoration: none; }
      .menu ul li:first-child {
        border-top: 0px; }
      .menu ul li:last-child {
        border-bottom: 0px; }

.launcher {
  max-width: 92px;
  font-family: monospace;
  font-style: italic;
  outline: 1px solid #000000;
  user-select: none;
  background: #a6a6a6;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #737373;
  border-bottom: 1px solid #737373; }
  .launcher img {
    position: relative;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    margin: 2px;
    padding: 1px;
    background: #d9d9d9;
    border-top: 1px solid #737373;
    border-left: 1px solid #737373; }
    .launcher img:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing; }
  .launcher hr {
    border: 0;
    height: 1px;
    background: #737373;
    margin-top: -3px;
    margin-bottom: 3px; }
  .launcher span:first-of-type {
    display: block;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #737373;
    border-bottom: 1px solid #737373;
    text-align: center;
    margin-top: -3px;
    cursor: default; }
    .launcher span:first-of-type:hover {
      background: #D9D9D9; }
    .launcher span:first-of-type a {
      display: block;
      padding: 2px;
      cursor: default;
      color: inherit;
      text-decoration: none; }

.window {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 600px;
  margin: 7px;
  box-shadow: 0 0 0 2px #737373, 0 0 0 4px #a6a6a6, 0 0 0 6px #d9d9d9, 0 0 0 7px #000000;
  display: flex;
  flex-flow: column; }
  .window .title-bar {
    font-family: monospace;
    font-style: italic;
    display: flex;
    background: #a6a6a6;
    border: 1px solid #000000;
    height: 24px;
    cursor: default;
    user-select: none; }
    .window .title-bar .roll-up,
    .window .title-bar .minimise,
    .window .title-bar .close,
    .window .title-bar .title {
      height: 20px;
      border-top: 2px solid #d9d9d9;
      border-left: 2px solid #d9d9d9;
      border-bottom: 2px solid #737373;
      border-right: 2px solid #737373;
      line-height: 20px; }
    .window .title-bar .roll-up,
    .window .title-bar .minimise,
    .window .title-bar .close {
      width: 20px;
      text-align: center; }
    .window .title-bar .title {
      flex: 1;
      padding-left: 20px;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab; }
      .window .title-bar .title:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing; }
    .window .title-bar span {
      overflow: hidden; }
      .window .title-bar span:active .rest {
        display: none; }
  .window .menu-bar,
  .window .status-bar {
    font-family: monospace;
    font-style: italic;
    display: flex;
    background: #D9D9D9;
    height: 20px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #a6a6a6;
    border-right: 2px solid #a6a6a6;
    user-select: none;
    cursor: default;
    outline: 1px solid #000000;
    margin: 0 1px;
    line-height: 20px; }
  .window .menu-bar .menu-item {
    padding: 0px 4px; }
    .window .menu-bar .menu-item:hover {
      background: #f3f3f3; }
    .window .menu-bar .menu-item ul {
      position: absolute;
      display: none;
      margin: 0 0 0 -6px;
      padding: 0;
      min-width: 60px;
      background: #D9D9D9;
      border-left: 2px solid white;
      border-bottom: 2px solid #a6a6a6;
      border-right: 2px solid #a6a6a6;
      list-style-type: none;
      font-style: normal; }
      .window .menu-bar .menu-item ul li {
        display: block;
        padding: 0 4px; }
        .window .menu-bar .menu-item ul li:hover {
          background: #f3f3f3; }
  .window .content {
    display: flex;
    background: #87AACA;
    overflow: auto;
    margin: 2px 2px;
    border-top: 1px solid #737373;
    border-left: 1px solid #737373;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    box-shadow: 0 0 0 1px #a6a6a6, 0 0 0 2px #000000;
    flex: 1; }
    .window .content iframe {
      flex: 1;
      border: 0; }
  .window .status-bar {
    display: block;
    padding: 0 12px;
    text-align: right;
    margin-bottom: 1px; }

.task-bar {
  position: absolute;
  width: 80vw;
  min-height: 24px;
  left: calc(10vw);
  bottom: 0;
  font-style: italic;
  display: flex;
  background: #D9D9D9;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid #737373;
  border-right: 2px solid #737373;
  user-select: none;
  cursor: default;
  outline: 1px solid #000000;
  margin: 0 1px;
  line-height: 20px;
  z-index: 1000000; }
  .task-bar .task-label {
    position: relative;
    display: block;
    padding: 0 6px;
    width: 100px;
    height: 20px;
    line-height: 20px; }
    .task-bar .task-label .task-name {
      position: absolute;
      left: 6px;
      right: 6px;
      overflow: hidden; }
    .task-bar .task-label.hidden {
      border-right: 2px solid #737373;
      border-bottom: 2px solid #737373;
      border-left: 2px solid white;
      border-top: 2px solid white; }
    .task-bar .task-label.shown {
      background: #a6a6a6;
      border-left: 2px solid #737373;
      border-top: 2px solid #737373;
      border-right: 2px solid white;
      border-bottom: 2px solid white; }

body {
  background: #005566;
  font-family: monospace;
  overflow: hidden; }

.ui-resizable,
.draggable {
  position: absolute; }

/*# sourceMappingURL=index.css.map */
