
.launcher {
    max-width: 92px;
    font-family: monospace;
    font-style: italic;
    outline: 1px solid #000000;
    user-select: none;
    background: $form-title-bg-colour;
    border-top: 1px solid lighten($form-title-bg-colour, 20%);
    border-left: 1px solid lighten($form-title-bg-colour, 20%);
    border-right: 1px solid darken($form-title-bg-colour, 20%);
    border-bottom: 1px solid darken($form-title-bg-colour, 20%);
    
    img {
        position: relative;
        margin: 2px;
        padding: 1px;
        background: lighten($form-title-bg-colour, 20%);
        border-top: 1px solid darken($form-title-bg-colour, 20%);
        border-left: 1px solid darken($form-title-bg-colour, 20%);
    }
    
    hr {
        border: 0;
        height: 1px;
        background: darken($form-title-bg-colour, 20%);
        margin-top: -3px;
        margin-bottom: 3px;
    }
    
    span:first-of-type {
        display: block;
        border-top: 1px solid lighten($form-title-bg-colour, 20%);
        border-left: 1px solid lighten($form-title-bg-colour, 20%);
        border-right: 1px solid darken($form-title-bg-colour, 20%);
        border-bottom: 1px solid darken($form-title-bg-colour, 20%);
        text-align: center;
        margin-top: -3px;
        cursor: default;

        &:hover {
            background: $form-bg-colour;
        }
        
        a {
            display: block;
            padding: 2px;
            cursor: default;
            color: inherit;
            text-decoration: none;
        }
    }
}

